<app-navigation-bar></app-navigation-bar>
<section class="container mx-auto px-4 py-16 lg:flex lg:items-center  sm:grid sm:grid-cols-1">
  <div class="lg:w-1/2 sm:w-screen mx-auto">
    <img src="../../../assets/RH (2).png" alt="Woman with Tablet" class="w-2/3">
</div>
  <div class="lg:w-1/2 lg:p-10 sm:w-screen ">
      <h1 class="text-4xl font-bold text-black">Find your dream<br> job with volku.</h1>
      <p class="mt-4 text-gray-600">Find jobs that match your interests with us. Jabong provides a place to find your freelance job.</p>
      <div class="mt-8 flex space-x-4">
          <button class="bg-black text-white px-4 py-2 rounded-md">Get Started</button>
          <button class="bg-gray-300 text-gray-700 px-4 py-2 rounded-md">Update Job</button>
      </div>
  </div>

</section>
