<nav class=" bg-white shadow-md">
    <div class="container mx-auto px-4 py-2 flex justify-between items-center">
      <div class="flex items-center space-x-2 text-black">
          <a routerLink="" class="t text-lg ">Home</a>
          <a routerLink="posts" class=" text-lg ">Posts</a>
          <a routerLink="jobs" class=" text-lg ">Jobs</a>
          <a href="#" class="">About Us</a>
          <a href="#" class="">Contact</a>
      </div>
      <div>
          <button (click)="OpenDialog()" class="bg-black text-white px-4 py-2 rounded-md">Log in</button>
      </div>
    </div>
</nav>
