<app-navigation-bar></app-navigation-bar>
<div class="max-w-lg mx-auto mt-5">
  <div class="bg-white p-4 mt-4 rounded-lg shadow-md">
    <textarea class="w-full p-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500" rows="3" placeholder="Commencer un post"></textarea>
    <div class="flex items-center justify-between mt-3">
      <div class="flex space-x-3">
        <button class="flex items-center text-gray-600 hover:text-blue-500">
          <svg class="w-6 h-6 mr-1" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14.752 11.168l-2.708 2.71-2.708-2.71M12 20.5v-7.084M7 8a5 5 0 10-2 4m8-4a5 5 0 112-4M16 5a5 5 0 100 10 5 5 0 000-10z"></path>
          </svg>
          Média
        </button>
        <button class="flex items-center text-gray-600 hover:text-blue-500">
          <svg class="w-6 h-6 mr-1" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 10h.01M12 10h.01M16 10h.01M9 16h6m2 4h2v-2h-2v2zM3 20h2v-2H3v2zM20 4h2V2h-2v2zM2 4h2V2H2v2z"></path>
          </svg>
          Événement
        </button>
      </div>
      <button class="bg-blue-500 text-white px-4 py-2 rounded-lg">Publier</button>
    </div>
  </div>
</div>

<section class="max-w-lg lg:mx-auto mt-10 border border-black sm:p-20 lg:p-0">
  <div class="flex gap-3">
    <p>user image</p>
    <h1>Ahmed Garci</h1>
  </div>
  <img src="https://picsum.photos/200" class="w-full lg:h-[300px] sm:h-[100px] rounded-md object-cover mt-4" >
</section>
